.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    border-bottom: 1px solid #4242
}

ul{
    
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    column-gap: 40px;
    
}

li{
    list-style:none;
    column-gap: 40px;
    font-size: 18px;
    color:#424242;
    cursor: pointer;
}